.article {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  border-radius: 3px;
}

.article h2 {
  text-align: center;
}

.article p {
  text-align: justify;
}
